<p id="notice"><%= notice %></p>

<h2>Aqui vai ser o nosso diferencial.</h2>
<h3></h3>
<table class="easter-egg">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @portfolios.each do |portfolio| %>
      <tr>
        <td><%= portfolio.name %></td>
        <td><%= portfolio.description %></td>
        <td><%= portfolio.picture %></td>
        <td><%= link_to 'Show', portfolio %></td>
        <% if current_user %>
          <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
          <td><%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%# <h1>Por enquanto, volte para <%= link_to "Cá.", new_user_session_path, :class => 'navbar-link'  %></h1>
<br>

<% if current_user %>
  <%= link_to 'New Portfolio', new_portfolio_path %>
<% end %>
