/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 

.easter-egg {
  display: none;
}
*/
@font-face{
  font-family: viagEx;
  src: url("futured.TTF");
}
.container{
  margin:0 auto;
  max-width: 960;
}
navbar{
  display: block;
}
header{
  border-top: 2px solid #1e1548;
  background-color: #1b3764;
}
navbar h1{
  margin-left: 20px;
  display: inline-block;
  color: #fafccb;
  font-family: viagEx;
  letter-spacing: 3px;
  
}
navbar ul{
  float: right;
  
}
navbar ul li{
  margin: 10px 10px;
  display: inline-block;
  padding: 0 10px;
  
}
navbar ul li a{
  text-decoration: none;
  color: #fafccb;
  font-family: viagEx;
  font-size: 16px;
}
