<navbar class="container">

  <h1>ViagEx</h1>
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/static_pages/about">Sobre</a></li>
      <li><a href="/portfolios">Portfolio</a></li>
  </ul>
    </navbar>